<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <!-- <link href="/common/page.css" rel="stylesheet"> -->
    <link href="/common/assets/css/page.css" rel="stylesheet">
    <link rel="icon" type="image/png" sizes="96x96" href="/common/assets/icon/virus.png">
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
    <title>COVID19 Info</title>
  </head>
<main id="app"><%- html %></main>

<script src="/common/document-register-element.js"></script>
<script src="/data/page.js" async></script>
<script src="/information/page.js" async></script>
<script src="/search/page.js" async></script>
<script src="/map/page.js" async></script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {
        'packages':['geochart'],
        'mapsApiKey': 'AIzaSyD-9tSrke72PouQMnMX-a7eZSW0jkFMBWY'
      });
      google.charts.setOnLoadCallback(drawRegionsMap);

      function drawRegionsMap() {
        var values = document.querySelector("map-wc").loadMapValues("")
        var data = google.visualization.arrayToDataTable(values.data);
        var chart = new google.visualization.GeoChart(document.getElementById(getMapDivId()));

        chart.draw(data, values.options);
      }

      function getMapDivId(){
        return document.querySelector("map-wc").getDivId()
      }
    </script>
</html>
