<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <!-- <link href="/common/page.css" rel="stylesheet"> -->
    <link href="/common/assets/css/page.css" rel="stylesheet">
    <link rel="icon" type="image/png" sizes="96x96" href="/common/assets/icon/virus.png">
    <title>COVID19 Info</title>
  </head>
<main id="app"><%- html %></main>

<script src="/common/document-register-element.js"></script>
<script src="/data/page.js" async></script>
<script src="/api/page.js" async></script>
<script src="/grpc/page.js" async></script>
  
  <script>
    
  </script>
</html>
