<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="/common/page.css" rel="stylesheet">
    <title>Covid Info</title>
  </head>
<main id="app"><%- html %></main>

<script src="/common/document-register-element.js"></script>
<script src="/center/page.js" async></script>
<script src="/side/page.js" async></script>
<script src="/api/page.js" async></script>
<script src="/grpc/page.js" async></script>
  
  <script>
    
  </script>
</html>
