<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="/common/page.css" rel="stylesheet">
</head>
<main id="app"><%- html %></main>

<script src="/common/document-register-element.js"></script>
<script src="/wc1/page.js" async></script>
<script src="/wc2/page.js" async></script>
</html>
