.left{
    background-color: red;
    height: 100%;
    width:auto;
    min-width:200px;
    float:left;
}

.up{
    background-color: yellow;
    height: 100%;
    min-height: 200px;
    
}

.center{
    background-color: blue;
}

.right{
    background-color: purple;
}

.bottom{
    background-color: green;
}

