<!DOCTYPE html>
<html>

<head>
  <link href="/common/assets/css/page.css?v=2.1.2" rel="stylesheet">
  <link rel="icon" type="image/png" sizes="96x96" href="/common/assets/icon/virus.png">
  <title>COVID19 Info</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta content='width=device-width, initial-scale=1.0, shrink-to-fit=no' name='viewport' />
  <!--     Fonts and icons     -->
  <link rel="stylesheet" type="text/css"
    href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">

</head>
<main id="app" class="wrapper">
  <%- html %>
</main>

<script src="/common/document-register-element.js"></script>
<script src="/data/page.js" async></script>
<script src="/information/page.js" async></script>
<script src="/search/page.js" async></script>
<script src="/map/page.js" async></script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
  google.charts.load('current', {
    'packages': ['geochart'],
    'mapsApiKey': 'AIzaSyDQvSJ18gCp9O3IOVtDPbWMqUDAXCBIFeo'
  });
  google.charts.setOnLoadCallback(drawRegionsMap);

  async function drawRegionsMap(country) {
    if (country === undefined) country = { country: undefined, iso: undefined }
    var values = await document.querySelector("map-wc").loadMapValues(country)
    var data = google.visualization.arrayToDataTable(values.data);
    var chart = new google.visualization.GeoChart(document.getElementById(getMapDivId()));
    chart.draw(data, values.options);
  }

  function getMapDivId() {
    return document.querySelector("map-wc").getDivId()
  }

  document.addEventListener("change-country", this);
  
  function handleEvent(event) {
    this.updateCountryData(event.detail);
  }
  function updateCountryData(details) {
    //document.querySelectorAll("data-wc").forEach(element => {
    //  element.update(details);
    //})
    drawRegionsMap(details)
    //document.querySelector("information-wc").update(details);
  }
</script>

</html>