<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="/common/page.css" rel="stylesheet">
    <title>Covid info</title>
  </head>
<main id="app"><%- html %></main>

<script src="/common/document-register-element.js"></script>
<script src="/rest/page.js" async></script>

  <script>
    // Cargar lógica de los componentes
  </script>
</html>
