<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="/common/page.css" rel="stylesheet">
  </head>
<main id="app"><%- html %></main>

<script src="/common/document-register-element.js"></script>
<script src="/center/page.js" async></script>
<script src="/side/page.js" async></script>
<script src="/api/page.js" async></script>
<script src="/grpc/page.js" async></script>
<script src="/list/page.js" async></script>
  
  <script>
    document.addEventListener("side-operation", this);
    document.addEventListener("list-call", this);
    function handleEvent(event) {
      if (event.type === "side-operation") {
        this.callChildOperation(event.detail);
      } else if (event.type === "list-call") {
        this.updateChildList(event.detail);
      } 
    }

    function callChildOperation(details) {
      document.querySelector("central-web-component").update(details);
    }

    function updateChildList(detail) {
      document.querySelector("list-result").updateList(detail);
    }
  </script>
</html>
