body {
    font-family: Arial;
    color: white;
  }
  
  .split {
    height: calc(100% - 50px);
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
  }
  
  .left {
    left: 0;
    background-color: rgb(3, 116, 136);
  }
  
  .right {
    right: 0;
    background-color: rgb(3, 151, 196);
  }
  
  .centered {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
    text-align: center;
  }

  p{
    text-align: left;
  }

  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: rgb(255, 89, 89);
    color: white;
    text-align: center;
    z-index: 1;
  }
  .foot-p{
    text-align:center
  }

